@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: black;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #e11d48;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b91c1c;
}

